PRIVATE_KEY=
RPC_API_KEY=
LINEA_RPC_URL=https://linea-mainnet.infura.io/v3/${RPC_API_KEY}
MAINNET_RPC_URL=https://mainnet.infura.io/v3/${RPC_API_KEY}
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/${RPC_API_KEY}

SWAP_ROUTER=0x3bFA4769FB09eefC5a80d6E87c3B9C650f7Ae48E
DELEGATION_MANAGER=0xdb9B1e94B5b69Df7e401DDbedE43491141047dB3